/* src/styles/layout.css */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 3.2rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--6-cols {
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 59em) {
  .grid {
    gap: 2.4rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--6-cols {
    grid-template-columns: 1fr;
  }
}
